:root {
    --red: #c92323;
}

div {
    box-sizing: border-box;
}

a {
    color: var(--red);
}

body {
    margin: 20px;
}

.shadow-box {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    filter: drop-shadow(2px 2px 4px #000c);
    flex-basis: 600px;
    border: 1px solid #0000004d;
}

.space-top {
    margin-top: 50px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.search-form {
    width: 100%;
}

.search-input {
    width: 100%;
    height: 50px;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    padding: 0 20px;
    background-color: var(--red);
    color: white;
    font-size: 24px;
}

.search-title {
    font-family: sans-serif;
    color: var(--red);
    font-size: 40px;
    margin-bottom: 30px;
}

.text p {
    font-family: sans-serif;
    font-size: 18px;
}

.text p:last-of-type {
    margin-bottom: 0;
}

.entity-title {
    font-family: sans-serif;
    color: var(--red);
    font-size: 30px;
}
